<div class="mybody">
  <!-- The Timeline -->

  <ul class="timeline">
    <!-- Item 1 -->
    <ng-container *ngFor="let event of events; let i = index">
      <li>
        <div class="direction-{{ direction(i) }}">
          <div class="flag-wrapper">
            <span class="flag">{{ event.title }}</span>
            <span class="time-wrapper" *ngIf="event.display != false"
              ><span class="time">{{ event.time }}</span></span
            >
          </div>
          <div class="desc" [innerHTML]="event.description"></div>
        </div>
      </li>
    </ng-container>
    <div *ngIf="false">
      <!-- Item 2 -->
      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="flag">Apple Inc.</span>
            <span class="time-wrapper"><span class="time">2011 - 2013</span></span>
          </div>
          <div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
        </div>
      </li>

      <!-- Item 3 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">Harvard University</span>
            <span class="time-wrapper"><span class="time">2008 - 2011</span></span>
          </div>
          <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
        </div>
      </li>
    </div>
  </ul>
</div>
