<div class="container-fluid">
  <div class="jumbotron text-center">
    <mat-tab-group>
      <mat-tab label="{{ 'About' | uppercase }}">
        <app-profile></app-profile>
      </mat-tab>
      <ng-container *ngFor="let category of eventCategories">
        <mat-tab label="{{ category | uppercase }}">
          <ng-template matTabContent>
            <app-series [events]="eventCatalogue[category]"></app-series>
          </ng-template>
        </mat-tab>
      </ng-container>
    </mat-tab-group>

    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="!isLoading">"संसारमा सुख रोज्नेले दु:ख किन खोज्थ्यो होला र? भगवान हाँसेको कसले पो देखेको छ र!"</q>
  </div>
</div>
