<h2 style="text-align: center">Introduction</h2>

<div class="card">
  <img src="assets/images/self2.jpg" alt="Nandalal Adhikari" style="width: 100%" />
  <h1>Nanda Lal Adhikari</h1>
  <p class="title">Concerns: Trade, Climate and Death</p>
  <p>Machhapuchhre-6, Kaski</p>
  <div style="margin: 24px 0">
    <a href="https://facebook.com/adknanda" target="__blank"><i class="fa fa-facebook"></i></a>
    <a href="mailto:adknanda@gmail.com"><i class="fa fa-envelope-open-o"></i></a>
    <a href="tel:+977-98560-30074"><i class="fa fa-phone"></i></a>
    <a href="tel:+977-98028-17486"><i class="fa fa-mobile"></i></a>
  </div>
  <p><button>Contact</button></p>
</div>
