<h2 style="text-align: center">Introduction</h2>

<div class="card">
  <img src="assets/images/self.jpeg" alt="John" style="width: 100%" />
  <h1>Nanda Lal Adhikari</h1>
  <p class="title">A Proud Nepali Leader</p>
  <p>Machhapuchhre-6, Kaski</p>
  <div style="margin: 24px 0">
    <a href="https://facebook.com/adknanda" target="__blank"><i class="fa fa-facebook"></i></a>
    <a href="mailto:adknanda@gmail.com"><i class="fa fa-envelope-open-o"></i></a>
  </div>
  <p><button>Contact</button></p>
</div>
